[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-script = "*"
python-dotenv = "*"
flask-restplus = "*"
requests = "*"
flask-redis = "*"
lxml = "*"
signxml = "*"
voluptuous = "*"
maya = "*"
python-jose-cryptodome = "*"
azure-storage-blob = "*"

[dev-packages]
pytest = "*"
flask-testing = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
