[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
lxml = "*"
signxml = "*"
voluptuous = "*"
python-jose-cryptodome = "*"
arrow = "*"
azure-storage-blob = "*"
redis = "*"
falcon = "*"
sentry-sdk = {extras = ["falcon"],version = "*"}

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
