[[source]]
name = "bypi"
url = "https://269fdc63-af3d-4eca-8101-8bddc22d6f14:b694b5b1-f97e-49e4-959e-f3c202e3ab91@pypi.tools.bink.sh/simple"
verify_ssl = true

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
lxml = "*"
signxml = "*"
voluptuous = "*"
python-jose-cryptodome = "*"
arrow = "*"
falcon = "*"
sentry-sdk = {extras = ["falcon"], version = "*"}
kombu = {extras = ["redis", "azure-servicebus"], version = "*"}
hvac = "*"
shared-config-storage = {index = "bypi", version = "*"}
prometheus-client = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
werkzeug = "*"
mypy = "*"
freezegun = "*"
black = "==20.8b1"
flake8 = "*"
